@model MarketplaceMVC.Web.Models.Offer.OfferListViewModel
@using MarketplaceMVC.Web.HtmlHelpers;

<div class="row">
    <div class="col-lg-6">
        <div class="mt-3 font-weight-bold"><span class="text-primary">@Model.Offers.Count()</span> предложений найдено </div>

    </div>
    <div class="col-lg-2">
        <div class="mt-2 text-right">
            <i class="fas fa-sort-amount-down"></i> <span class="font-weight-bold" style="font-size: 14px">Сортировать:</span>
        </div>
       
    </div>
    <div class="col-lg-4 text-right" >
        <div style="font-size: 14px">
            @Html.DropDownList("SortBy", Model.SortBy, new { @class = "custom-select" , onchange= "submitForm(this)" })
        </div>
        
    </div>
    @*<a class="btn btn-primary mb-3  text-right" href="@Url.Action("Create", "Offer")">Продать аккаунт</a>*@

        <div class="col-lg-12 mt-3">


            @foreach (var offer in Model.Offers)
            {

                <div class="card-custom mb-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="offer-header"><a href="@Url.Action("Details","Offer", new { id = offer.Id })">@offer.Header</a> </div>
                        </div>
                        <div class="col-md-4">

                            <div class="offer-user">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img class="rounded-circle" src="~/Content/Images/Avatars/defa.png" alt="Alternate Tex" />
                                    </div>
                                    <div class="col-sm-6">
                                        <div>@offer.UserName</div>
                                        <div>Рейтинг: 12</div>
                                        <div class="badge badge-primary">Online</div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="offer-description">
                                <div>Без бана @Html.Check(!offer.IsBanned)</div>
                                <div>Личный @Html.Check(offer.PersonalAccount)</div>
                                <div>Гарант оплачен @Html.Check(offer.SellerPaysMiddleman)</div>
                            </div>
                        </div>
                        <div class="col-md-3">
        
                                <div class="row text-center">
                                    <div class="col-sm-12">
                                        <div class=" offer-price">
                                            @Html.DisplayFor(m => offer.Price) руб.
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-12">
                                        <a class="btn btn-details" href="@Url.Action("Buy","Checkout", new { id = offer.Id })">
                                                <i class="fas fa-shopping-cart"></i> Купить
                                            
                                        </a>
                                    </div>
                                </div>                                        
                        </div>
                    </div>

                </div>
            }

        </div>
    <div class="col-lg-12">
        @Html.PagedListPager(,)
    </div>

</div>



