@model SearchOfferViewModel




    <div class="col-lg-3">
        <div class="card-custom search">
            @using (Ajax.BeginForm("OfferSearch", "Offer", null, new AjaxOptions { UpdateTargetId = "offers" }, new { id = "search-panel" }))
            {
                <input type="hidden" id="sort" name="SortBy" value="BestSeller" />
                <input type="hidden" id="game" name="game" value="@Model.Game" />
                <div class="form-group">
                    <label class="search-label" for="inputAddress">Поиск</label>
                    <input name="SearchString" type="text" class="form-control" id="search-string" placeholder="Найти...">
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        @Html.CheckBox("SerchInDescription", false, new { @class = "custom-control-input", id = "serch-in-description" })
                        <label class="custom-control-label" for="serch-in-description">
                            Искать в описании
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        @Html.CheckBox("OnlineOnly", false, new { @class = "custom-control-input", id = "online-only" })
                        <label class="custom-control-label" for="online-only">
                            Только онлайн
                        </label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <label for="inputEmail4">Цена</label>
                    </div>

                    <div class="form-group col-md-6">

                        <input type="text" id="price-from" class="form-control" name="PriceFrom" placeholder="От...">
                    </div>
                    <div class="form-group col-md-6">

                        <input type="text" id="price-to" class="form-control" name="PriceTo" placeholder="До...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        @Html.CheckBox("PersonalAccount", false, new { @class = "custom-control-input", id = "personal-account" })

                        <label class="custom-control-label" for="personalaccount">
                            Личный аккаунт
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        @Html.CheckBox("IsBanned", false, new { @class = "custom-control-input", id = "is-banned" })

                        <label class="custom-control-label" for="isbanned">
                            Аккаунт с баном
                        </label>
                    </div>
                </div>

                <div class="form-row mt-4">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary w-100">Поиск</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="reset" class="btn btn-secondary w-100">Сброс</button>
                    </div>
                </div>
            }
        </div>
    </div>

